html, body, #container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: black;
  }
  h1{
    text-shadow: -3px -3px 6px #018301, 3px 3px 6px #009900;
  }
  #bfheader {
      font-size: 18pt;
      font-size: 1.2vw;
      text-align: center;
  }
  #sidebar {
    float: left;
    height: 75%;
    max-width: 50%;
    width: 25%;
    background-color: black;
    color: white;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10pt;
  }
  #legend{
    margin-left: 40px;
    margin-right: 40px;
  }
  #recentClick{   
    margin-left: 20px;
    margin-right: 20px;
    }

  #mapid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;
  }
  #marker {
    float: left;
    width: 15px;
    margin-left: -40px;
    margin-right: 10px;
  }
  .sidebar-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }
  .collapsible {
    background-color: #003333;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible:hover {
    background-color: #001a1a;
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    overflow: hidden;
    display: none;
    padding: 0 18px;
    background-color: #001a1a;
    border: 1px solid black
  }
    
  .center { 
    height: 200px;
    position: relative;
  }
  
  .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media (max-width: 1194px) {
  #sidebar {
    display: none;
  }
  }
.splash .leaflet-popup-content{
    text-align: center;
}
.splash.leaflet-popup-content-wrapper .leaflet-popup-content {
    background-color: #003333;
    color: white;
  }
  
.splash .leaflet-popup-tip{
    background: transparent;
    border: none;
    box-shadow: none;
  }

.bfro .leaflet-popup-content{
    text-align: right;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #003333;
    color: white;
}
.bfro .leaflet-popup-content a{
    color:#c0c0ff;
}

.bfro .leaflet-popup-content hr, .splash .leaflet-popup-content hr{
    color: #009900;
    size: 2;
    border-radius: 2;
    margin: 10px;
    border-top: 2px solid #009900;
}
